node_modules
.env
.env.test
upload/images
nodemon.json
.gitignore
dist/
coverage/

npm test

npx vitest run --coverage

npx ts-node scripts/cleanup-e2e-data.ts 
npx ts-node scripts/cleanup-orphaned-images.ts
 
kill it e2e error
netstat -ano | findstr :5000
taskkill /PID 40424 /F /T
remove commented variable

